
@font-face {
    font-family: 'Hanken Grotesk';
    src: url('../assets/fonts/HankenGrotesk-VariableFont_wght.ttf');
    font-weight: 500;
    font-style: medium;
}
@font-face {
    font-family: 'Hanken Grotesk';
    src: url('../assets/fonts/HankenGrotesk-VariableFont_wght.ttf');
    font-weight: 700;
    font-style: bold;
}
@font-face {
    font-family: 'Hanken Grotesk';
    src: url('../assets/fonts/HankenGrotesk-VariableFont_wght.ttf');
    font-weight: 800;
    font-style: bolder;
}
:root{
/*Primary Colors*/
    --primary-light-red: hsl(0, 100%, 67%);
    --primary-orangey-yellow: hsl(39, 100%, 56%);
    --primary-green-teal: hsl(166, 100%, 37%);
    --primary-cobalt-blue: hsl(234, 85%, 45%);
/*Gradients (background and circle)*/
    --gradient-bg-light-stale-blue: hsl(252, 100%, 67%);
    --gradient-bg-light-royal-blue: hsl(241, 81%, 54%);
    --gradient-crl-violet-blue: hsla(256, 72%, 46%, 1);
    --gradient-crl-persian-blue: hsla(241, 72%, 46%, 0);
/*Neutral Colors*/   
    --neutral-white:hsl(0, 0%, 100%);
    --neutral-pale-blue:hsl(221, 100%, 96%);
    --neutral-light-lavender: hsl(241, 100%, 89%);
    --neutral-dark-gray-blue: hsl(224, 30%, 27%);
 /*------------------------------------------------------*/
}
html {
    box-sizing: border-box;
    font-size: 62.5%;/*10px = 1rem*/
  }
  *, *:before, *:after {
    box-sizing: inherit;
  }
  
