
@font-face {
    font-family: 'Hanken Grotesk';
    src: url('../assets/fonts/HankenGrotesk-VariableFont_wght.ttf');
    font-weight: 500;
    font-style: medium;
}
@font-face {
    font-family: 'Hanken Grotesk';
    src: url('../assets/fonts/HankenGrotesk-VariableFont_wght.ttf');
    font-weight: 700;
    font-style: bold;
}
@font-face {
    font-family: 'Hanken Grotesk';
    src: url('../assets/fonts/HankenGrotesk-VariableFont_wght.ttf');
    font-weight: 800;
    font-style: bolder;
}
:root{
/*Primary Colors*/
    --primary-light-red: hsl(0, 100%, 67%);
    --primary-orangey-yellow: hsl(39, 100%, 56%);
    --primary-green-teal: hsl(166, 100%, 37%);
    --primary-cobalt-blue: hsl(234, 85%, 45%);
/*Gradients (background and circle)*/
    --gradient-bg-light-stale-blue: hsl(252, 100%, 67%);
    --gradient-bg-light-royal-blue: hsl(241, 81%, 54%);
    --gradient-crl-violet-blue: hsla(256, 72%, 46%, 1);
    --gradient-crl-persian-blue: hsla(241, 72%, 46%, 0);
/*Neutral Colors*/   
    --neutral-white:hsl(0, 0%, 100%);
    --neutral-pale-blue:hsl(221, 100%, 96%);
    --neutral-light-lavender: hsl(241, 100%, 89%);
    --neutral-dark-gray-blue: hsl(224, 30%, 27%);
 /*------------------------------------------------------*/
}
html {
    box-sizing: border-box;
    font-size: 62.5%;/*10px = 1rem*/
  }
  *, *:before, *:after {
    box-sizing: inherit;
  }
  body{
    font-family: 'Hanken Grotesk';
    display: flex;
    flex-direction: column; 
  }
  @media (min-width: 758px) {
      body{
        justify-content: center;
        align-items: center;
        height: 100vh;
      }
  }
  h2{
    font-size: 1.8rem;
  }
  .principal-card{
    display: flex;
    border-radius: 2rem;
    flex-direction: column;
    width: 100%;
    
  }
  @media (min-width: 758px) {
    .principal-card{
        flex-direction: row;
    max-width: 60rem;
    width: 60rem;
    }
  }
  .results{
    
    font-size: 1.8rem;
    text-align: center;
    background: linear-gradient(var(--gradient-bg-light-stale-blue),var(--gradient-bg-light-royal-blue));
    padding: 3rem 5rem 6rem 5rem;
    border-radius: 2rem;
  }
  @media (min-width: 758px) {
      .results{
        max-width: 30rem;
      }
  }
  .results__score{
    display: flex;
    flex-direction: column;
    border-radius: 50%;
    aspect-ratio: 1/1;
    width: 15rem;
    color: var(--neutral-light-lavender);
    place-content: center;
    margin-inline: auto;
    background: linear-gradient(var(--gradient-bg-light-royal-blue), hsla(234, 85%, 45%, 0));
    font-size: 1.5rem;
    margin-bottom: 2rem;
    
  }
  .results__title{
    color: var(--neutral-light-lavender);
    font-size: 1.8rem;
    margin-bottom: 3rem;
  }
  .results__score span{
    font-size: 5rem;
    color: var(--neutral-white);
    font-weight: bolder;
  }
  .summary{
    margin-top: 2.5rem;
    width: 100%;
  }
  .summary__box{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
 .summary__items{
    display: flex;
    font-size: 1.8rem;
    justify-content: space-between;
    margin:0 auto 1rem;
    border-radius: 1rem;
    width: 90%;
    padding: 0 1rem;
    
 }
 
 
 .results__rank{
    color: var(--neutral-white);
 }
 .results__comment p{
    color: var(--neutral-light-lavender);
    margin: 0 -3rem;
 }
 
 .bg-red{
    color: var(--primary-light-red);
    background-color: hsla(0, 100%, 67%, .1) ;
 }
 .bg-yellow{
    color: var(--primary-orangey-yellow);
    background-color:  hsla(39, 100%, 56%, .1);
 }
 .bg-green{
    color: var(--primary-green-teal);
    background-color: hsla(166, 100%, 37%, .1);
 }
 .bg-blue{
    color: var(--primary-cobalt-blue);
    background-color: hsla(234, 85%, 45%, .1);
 }
 
 .actual-score{
    color: var(--neutral-dark-gray-blue);
 }
 .total-score{
    color: var(--neutral-light-lavender);
 }

 .flex{
    display: flex;
    gap: 1rem
 }
 .summary__title{
    margin-left: 2rem;
 }
 

 .button{
    width: 90%;
    padding: 1.5rem 0;
    border-radius: 2rem;
    background-color: var(--neutral-dark-gray-blue);
    font-weight: bolder;
    font-size: 1.5rem;
    color: var(--neutral-white);
    font-family: 'Hanken Grotesk';
    border-style: none;
    
 }
 
 .button:hover{
    transition: 0.3s;
    background-color: var(--gradient-bg-light-royal-blue);
 }
 footer{
    bottom: 0;
    margin-top: 5rem;
    align-self: center;
 }
 @media (min-width: 758px) {
     footer{
        position: fixed;
        margin-bottom: 2rem;
     }
 }
@media (min-width: 758px) {
    .shadow{
        -webkit-box-shadow: 0px -1px 7px 0px rgba(0,0,0,0.75);
        -moz-box-shadow: 0px -1px 7px 0px rgba(0,0,0,0.75);
        box-shadow: 0px -1px 7px 0px rgba(0,0,0,0.75);
    }
}